In [ ]:
# list
lst=["banana","apple","cherry","raspberries",[1,2,3]]

In [20]:
lst.remove("raspberries")
print(lst)

['banana', 'apple', 'cherry', [1, 2, 3]]

In [21]:
lst.extend(["raspberries","grapes"])
print(lst)

['banana', 'apple', 'cherry', [1, 2, 3], 'raspberries', 'grapes']

In [24]:
lst.index("cherry")

2

In [25]:
lst.append("mango")
print(lst)

['banana', 'apple', 'cherry', [1, 2, 3], 'raspberries', 'grapes', 'mango']

In [26]:
lst.pop(3)
print(lst)

['banana', 'apple', 'cherry', 'raspberries', 'grapes', 'mango']

In [86]:
#dictionaries
dic={"name":"sonia","age":20,"rollno.":56}
print(dic)

{'name': 'sonia', 'age': 20, 'rollno.': 56}

In [28]:
print(dic.get("age"))

20

In [36]:
dic.pop("age")
print(dic)

{'name': 'sonia', 'rollno.': 56}

In [37]:
print(dic.items())

dict_items([('name', 'sonia'), ('rollno.', 56)])

In [38]:
print(dic.keys())

dict_keys(['name', 'rollno.'])

In [39]:
dic.popitem()
print(dic)

{'name': 'sonia'}

In [89]:
#  sets
ses={1.0,"hello",2,3,"world"}
ses

{1.0, 2, 3, 'hello', 'world'}

In [44]:
ses.add(4)
print(ses)

{1.0, 2, 3, 'hello', 4, 'world'}

In [45]:
ses.update([4,5,6])
print(ses)

{1.0, 2, 3, 'hello', 4, 5, 6, 'world'}

In [46]:
ses.discard(6)
print(ses)

{1.0, 2, 3, 'hello', 4, 5, 'world'}

In [47]:
ses.remove("hello")
print(ses)

{1.0, 2, 3, 4, 5, 'world'}

In [48]:
print(ses.pop())
print(ses)

1.0
{2, 3, 4, 5, 'world'}

In [88]:
#  tuple
tple=("hello",2,"there",1,2,2.0,3)
tple

('hello', 2, 'there', 1, 2, 2.0, 3)

In [63]:
tple.count(2)

3

In [64]:
tple.index(2.0)

1

In [67]:
tple1=(1,4,5,67,89,76)
print(max(tple1))

89

In [68]:
print(min(tple1))

1

In [71]:
print(len(tple1))
print(len(tple))

6
7

In [90]:
#   strings
string="i am from india"
print(string.capitalize())

I am from india

In [74]:
print(string.count("i"))

3

In [75]:
string.index("am")

2

In [81]:
string.center(24,"*")

'****i am from india*****'

In [85]:
string.isnumeric()

False